<!-- Education -->
<div>
  <h4 class="mb-2">Education Credentials</h4>
  <table class="table">
    <thead>
      <tr>
        <th>School</th>
        <th>Degree</th>
        <th>Years</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let e of edu">
        <td>{{ e.school }}</td>
        <td>{{ e.degree }}</td>
        <td>{{ e.from | date }} - {{ e.to | date }}</td>
        <td>
          <button class="btn btn-danger">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
